.footerContainer {
  margin-top: 54px;
  background-color: var(--bg-card);
  padding: 20px 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding: 20px 40px;
}
h2 {
  color: var(--text-main);
}
.leftSide p,.rightSide p {
  color: var(--text-secondary);
}
.leftVal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.socialIcon {
  display: flex;
  gap: 4px;
  color: var(--text-secondary);
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding: 20px 40px;
}

.emailInputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.emailInputBox input,
.emailInputBox button {
  width: 100%;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--bg-main);
  color: var(--text-main);
}
.emailInputBox input::placeholder {
  color: var(--text-main);
}
.emailInputBox button {
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.emailInputBox button:hover {
  background-color: var(--primary-hover);
  transform: scale(1.02);
}

@media (max-width: 770px) {
  .footerContainer {
    flex-direction: column;
    padding: 15px 20px;
  }
  .rightSide,.leftSide{
    padding: 15px;
  }
  .emailInputBox {
    align-items: flex-start;
  }
  .emailInputBox input,
  .emailInputBox button {
    width: 90%;
    padding: 15px 20px;
  }
 
}
@media (max-width: 500px) {
    .footerContainer{
        padding: 15px 20px;
        gap: 30px;
        margin-top: 30px;
    }
    .leftSide,.rightSide{
        padding:10px ;
    }
    h2{
        font-size: 1.2rem;
    }
}
