.navBar{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:4px 12px;
    

}
.logoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}
.logoImg{
width: 50px;
}
.searchContainer{
    display: flex;
    align-items: center;
    border-radius:12px ;
    border: 1px solid;
    padding-left: 10px;
    width: 450px;
    
    margin-left: 20px;
}
.searchContainer input{
    padding: 10px;
    width: 90%;
    outline: none;
    border: none;
}
.linkContainer{
    display: flex;
    gap: 20px;
    
}
.navLinks{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px  8px;
    border-radius: 8px;
    cursor: pointer;
}
.menuIcon{
    display: none;
}
.menuIcon img{
    width: 50px;
}
#cartBtn{
    align-items: flex-end;
}
#cartBtn img{
    width: 40px;
}



/* for the tablet mode */
@media (max-width:880px) {
    .navBar{
        padding: 4px;
    }
    .searchContainer{
        margin-left: 0px;
        width: 350px;
    }
    .linkContainer{
        gap: 10px;
    }
    .navLinks{
        padding: 6px 4px;
    }
    #cartBtn img{
    width: 30px;
}
   
}

@media (max-width:700px) {
    #otherLink{
        display: none;
    }
    .menuIcon{
        display: block;
    }
    .linkContainer{
        align-items: center;
        gap: 5px;
    }
    .searchContainer{
        width: 200px;
    }
    .searchContainer input{
    padding: 6px;
    width: 80%;
    outline: none;
    border: none;
}
    #cartBtn{
       flex-direction: column;
       align-items: center;
       justify-content: center;

    }
    #cartBtn img{
        width: 20px;
    }
    p{
        font-size: 12px;
    }
    .menuIcon img{
    width: 35px;
}
.logoImg{
width: 30px;
}
}

